@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff6e0;
  --foreground: #01161e;
  --accent: ##124559;
  --secondary: ##aec3b0;
}

.dark {
  --background: #01161e;
  --foreground: #eff6e0;
  --accent: #124559;
  --secondary: #aec3b0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Okta Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-italic {
    font-style: italic;
    font-family: "Okta Neue", sans-serif;
  }
  .focus-visible-none:focus-visible {
    outline: none;
  }
}
