@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff6e0;
  --foreground: #01161e;
  --accent: #008080;
  --secondary: #aec3b0;
  --dot-color: rgba(1, 22, 30, 0.2); /* Darker color for light mode */
}

.dark {
  --background: #01161e;
  --foreground: #eff6e0;
  --accent: #008080;
  --secondary: #aec3b0;
  --dot-color: rgba(239, 246, 224, 0.2); /* Lighter color for dark mode */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Okta Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-italic {
    font-style: italic;
    font-family: "Okta Neue", sans-serif;
  }
  .focus-visible-none:focus-visible {
    outline: none;
  }
}

.dot-pattern {
  background-image: radial-gradient(
    circle,
    var(--dot-color) 1.2px,
    transparent 0.4px
  );
  background-size: 40px 40px;
}
